@import '~antd/dist/antd.css';
body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #888585;
  line-height: 24px;
}
body {
  font-size: 14px;
  background-color: #d9d9d9;
}
.App {
  text-align: center;
}
.spinner {
  padding: 15%
}

.courseDetail .addFileBtn {
  float: right;
  margin-top: 0 !important; 
}
/* 
.courseDetail-info > * {
  color: #f2e9e1;
  text-align: left;
  margin: 10px;
} */
.courseDetail {
  max-width: 100%;
  margin: 5px;
  background-color: #fafafa;
  padding: 5%; 
}
.courseDetail .ant-row .ant-col:last-child h1{
  font-weight: 900;
  color: #708a15;
}
.courseDetail .ant-row .ant-col:last-child hr{
  border: 1px solid #3c3838;
}
/* .courseDetail-header h1 {
  color: #f2e9e1;
  text-align: left;
} */
.upload-actions {
  text-align: center;
  margin-top: 12px;
}

.courseError {
  padding: 15%;
}
.courseError .ant-result-icon > .anticon {
  font-size: 30px;
}
.courseError .ant-result-title {
  font-size: 14px;
}
